Program start
  Func-def start
    Header start
      <id> = hello 
      <ret-type> = nothing  
    Header end
    Block start
      stmt type:func-call start
        Func-call start
          Function <id> : puts 
          Parameters :
            Expr_botom type:l-value start
              l-value type:string start
                <string> : "Hello world!\n" 
              l-value type:string end
            Expr_bottom type:l-value end
          Parameters end
        Func-call end
      stmt type:func-call end
    Block end
  Func-def end
Program end
